<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{{ base_dir }}css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ base_dir }}css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ base_dir }}css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{{ base_dir }}js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'><!-- //fonts -->

	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{{ base_dir }}js/move-top.js"></script>
		<script type="text/javascript" src="{{ base_dir }}js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->

<!-- skills -->
<script src="{{ base_dir }}js/pie-chart.js" type="text/javascript"></script>
 <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });
			
			$('#demo-pie-4').pieChart({
                barColor: '#10A7AF',
                trackColor: '#fff',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });
        });
    </script>
<!-- skills -->
<script type="text/javascript" src="{{ base_dir }}js/numscroller-1.0.js"></script>

</head>
<body>
<!-- banner -->
<div class="header-top">
	<div class="container">
		<ul>
			<li><a class="scroll" href="#about"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>简历</a></li>
			<li><a class="scroll" href="#emailme"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>邮箱</a></li>
			<li><a href="javascript:window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>打印 简历</a></li>			
		</ul>
	</div>
</div>	
<div class="header">
	<div class="container">
		<div class="col-md-8 header-left">
			<div class="col-sm-5 pro-pic">
				<img class="img-responsive" src="{{ base_dir }}{{ avatar_dir }}" alt=" "/>
			</div>
			<div class="col-sm-5 pro-text">
				<h1>{{ name }}</h1>
				<p>{{ one_sentence_introduction }}</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 header-right ">
			<ul class="list-left">
				<li>电子邮箱：</li>
				<li>个人网站：</li>
				<li>电话号码：</li>				
			</ul>
			<ul class="list-right">
				<li><a href="mailto:{{ email }}">{{ email }}</a></li>
				<li><a href="{{ website }}">{{ website }}</a></li>
				<li>{{ phone }}</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner -->
<!-- about -->
<div id="about" class="about">
	<div class="container">
		<h3 class="tittle">关于我</h3>
		<p class="abt-para">
			{% for i in about_me %}
			{{i}}<br>
			{% endfor %}
		</p>
	</div>
	<div class="col-md-6 abt-left ">
		<h2>教育</h2>
				<div class="accordion">
					{% for edu in edus %}
					<div class="accordion-section">
						<h5><a class="accordion-section-title" href="#{{ edu.href }}">
							<span>{{ edu.time }}</span> {{ edu.name }}
							<i class="glyphicon glyphicon-chevron-down"></i><div class="clearfix"></div>
								</a></h5>
								<div id="{{ edu.href }}" class="accordion-section-content">
									<h6>荣誉 和 奖励</h6>
									<ul>
										{% for honor in edu.honors %}
										<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">{{ honor }}</a></li>
										{% endfor %}
									</ul>
								</div>
					</div>
					{% endfor %}							
				</div>

				<script>
							jQuery(document).ready(function() {
								function close_accordion_section() {
									jQuery('.accordion .accordion-section-title').removeClass('active');
									jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
								}

								jQuery('.accordion-section-title').click(function(e) {
									// Grab current anchor value
									var currentAttrValue = jQuery(this).attr('href');

									if(jQuery(e.target).is('.active')) {
										close_accordion_section();
									}else {
										close_accordion_section();

										// Add active class to section title
										jQuery(this).addClass('active');
										// Open up the hidden content panel
										jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open'); 
									}

									e.preventDefault();
								});
							});
				</script>
	</div>
	<div class="col-md-6 abt-right ">
		{% for skill in skills %}
		<div class="col-sm-4 abt-gd-left text-center">
			<div id="demo-pie-{{ skill.id }}" class="pie-title-center" data-percent="{{ skill.score }}"> <span class="pie-value"></span> </div>
			<h4>{{ skill.name }}</h4>
		</div>
		{% endfor %}	
		
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- about -->
<!-- education -->
<div class="employment">
	<div class="container">
		<h3 class="tittle ">工作经验</h3>
		<p class="abt-para ">我做过什么？</p>
		{% for pe in project_experience %}
		<div class="col-md-6 employ-left">
			<h4>{{ pe.id }}</h4>
		</div>
		<div class="col-md-6 employ-right">
			<h5><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>{{ pe.name }}</h5>
			<p>{{ pe.duty }}</p>
			<p>简介：{{ pe.content }}</p>
			<p><a href="{{ pe.git_link }}">项目地址：{{ pe.git_link }}</a></p>
			{% if pe.blog_link %}
			<p><a href="{{ pe.blog_link }}">博客地址：{{ pe.blog_link }}</a></p>
			{% endif %}
			<p>
				项目内容：<br>
				{% for ct in pe.full_content %}
				{{ ct }}<br>
				{% endfor %}
			</p>
		</div>		
		{% endfor %}		
	</div>
</div>
<!-- education -->

<!-- more skills -->
<div class="more">
	<div class="container">
		<h3 class="tittle ">技能</h3>
		<div class="col-md-6 skill-left ">
			{% for skill in detail_skills %}
			<div class="progress">
				  <div class="progress-bar progress-bar-success{{ skill.id }}" style="width: 30%">{{ skill.name }}
					<span class="sr-only">35% Complete (success)</span>
				  </div>
				  <div class="progress-bar progress-bar-warning{{ skill.id % 5 }} " style="width:{{ skill.score - 30 }}%">
					<span class="sr-only"></span>
				  </div>
				  <p>{{ skill.score }}%</p>
				  <div class="clearfix"></div>
			</div>
			{% endfor %}			
		</div>

		<div class="col-md-6 skill-right ">
			<div class="scrollbar scrollbar1">
				{% for skill in detail_skills if skill.id in [1,2,4,5] %}{% if loop.index % 2 == 1 %}
				<div class="more-gds">
					<div class="col-sm-3 more-left">
						<span class="{{skill.icon}}" aria-hidden="true"></span>
					</div>
					<div class="col-sm-9 more-right">
						<h4>关于{{ skill.name }}</h4>
						<p>{{ skill.content }}</p>
					</div>
					<div class="clearfix"></div>
				</div>
				{% else %}
				<div class="more-gds yes_marg">
					<div class="col-sm-9 more-right2">
						<h4>关于{{ skill.name }}</h4>
						<p>{{ skill.content }}</p>
					</div>
					<div class="col-sm-3 more-left">
						<span class="{{ skill.icon }}" aria-hidden="true"></span>
					</div>
					<div class="clearfix"></div>
				</div>
				{% endif %}
				{% endfor %}				
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- more skills -->

<!-- contact -->
<div id="emailme" class="contact">
	<div class="container">
		<h3 class="tittle">联系</h3>
		<div class="col-md-6 contact-left ">
			<div class="horizontal-tab">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="false">联系我</a></li>					
				</ul>
				<div class="tab-content">
					<div class="tab-pane active in" id="tab1">
						<div class="contact-form">
							<ul>
                                {% for contact in contacts %}
                                {% if contact.id in [1,2] %}      <li><i class="{{ contact.icon }}" aria-hidden="true"></i><a href="mailto:{{ contact.content }}">{{ contact.name }}:{{ contact.content }}</a></li>
                                {% else %}
                                <li><i class="{{ contact.icon }}" aria-hidden="true"></i><span>
                                    {% if contact.url %}<a href="{{ contact.url }}" target="_blank">{{ contact.name }}:{{ contact.content }}</a>{% else %}{{ contact.name }}:{{ contact.content }}{% endif %}</span></li>
                                {% endif %}
                                {% endfor %}
							</ul>			
						</div>
					 
					</div>
					
					
				</div>
            </div>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">&copy; 2018 design by Light with Django</p>
	</div>
</div>
<!-- //contact -->
<!-- for bootstrap working -->
	<script src="{{ base_dir }}js/bootstrap.js"></script>
<!-- //for bootstrap working -->


	<!--scrolling js-->
	<script src="{{ base_dir }}js/jquery.nicescroll.js"></script>
	<script src="{{ base_dir }}js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

</body>
</html>
